/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('assets/img/night-stars.jpg'); /* URL zum Hintergrundbild */
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
}

h1,
h2,
p {
  color: #ffffff;
}

button {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
